TZ=Europe/Bucharest
PUID=1000
PGID=10

JELLYFIN_CONFIG_DIR=/volume2/docker/jellyfin/config
JELLYFIN_CACHE_DIR=/volume2/docker/jellyfin/cache

MEDIA_MOVIES_DIR=/volume1/Media/Movies
MEDIA_SERIES_DIR=/volume1/Media/Series
MEDIA_MUSIC_DIR=/volume1/Media/Music

JELLYFIN_HTTP_PORT=8096
JELLYFIN_DISCOVERY_PORT=7359
JELLYFIN_DLNA_PORT=1900

RENDER_GID=105
